.DS_Store
.vscode/c_cpp_properties.json
.vscode
CPP/linkedlist/segregateOddEven.dSYM/Contents/Info.plist
CPP/linkedlist/segregateOddEven.dSYM/Contents/Resources/Relocations/aarch64/segregateOddEven.yml
CPP/arrays/hello.dSYM/Contents/Resources/Relocations/aarch64/hello.yml
CPP/arrays/hello.dSYM/Contents/Info.plist
CPP/linkedlist/dll.dSYM/Contents/Info.plist
CPP/linkedlist/dll.dSYM/Contents/Resources/Relocations/aarch64/dll.yml
CPP/linkedlist/dll.dSYM/Contents/Resources/DWARF/dll
CPP/arrays/hello.dSYM/Contents/Resources/DWARF/hello
